body {
    font-family: "Roboto", sans-serif;
}

.logo{
    font-size: 18px;
    font-family: "Raleway"sans-serif;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
}

.logo span {
    color: #4D5AE5;
}

ul li {
    list-style-type: none;
}
h1 {
    background-color: #2E2F42;
    color: white;
    font-weight: bold;
    font-size: 56px;
     line-height: 10.7142857;
    
    }

    footer{
        background-color: #2E2F42;
        color: #F4F4FD;
        
    }
    .studio span {
        color: #F4F4FD;
    }
    

    .navigation .link {
        color: #2E2F42;
        text-decoration: none;
        
    }
    .navigation .link:hover {
        color: #404BBF;
    }
    .address .link{
        color: #434455;
        text-decoration: none;
    }
    .address .link:hover{
        color: #404BBF;
    }
    
    .button {
        background-color:#4D5AE5;
            color: white;
           height: 56px;
           width: 169.12px;
            border: 1px;
            gap: 10px;
            line-height: 3.5;
            cursor: pointer;
           
            }
.button:hover {
    background-color: #404BBF;
}
